.section__title {
  position: relative;
}
@media screen and (max-width: 991.98px) {
  .section__title {
    font-size: 24px;
  }
}
.section__desc {
  position: relative;
  line-height: 2;
  font-size: 18px;
}
@media screen and (max-width: 1199.98px) {
  .section__desc {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 991.98px) {
  .section__desc {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .section__desc {
    font-weight: 400;
  }
}
.section__button {
  position: relative;
  display: flex;
  padding: 8px 24px;
  width: max-content;
  border: 1px solid;
  border-color: inherit;
  color: inherit;
  transition: all ease-in-out 0.3s;
}
.section__button:hover {
  color: #edc170;
  border-color: #edc170;
}

.banner {
  position: relative;
  height: 100vh;
  padding: 200px;
  background: #181d21;
}
.banner:hover .banner__content-title span {
  color: #edc170;
}
.banner__row {
  justify-content: center;
}
.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 32px;
  color: white;
  border-color: white;
  text-align: center;
}
.banner__content-title span {
  transition: all ease-in-out 0.3s;
}
.banner__swiper {
  position: absolute !important;
  z-index: 0 !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.banner__swiper-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}
@media screen and (min-width: 1500px) {
  .banner {
    padding: 250px;
  }
}
@media screen and (max-width: 1199.98px) {
  .banner {
    display: grid;
    place-items: center;
    padding: 0;
  }
}

.info {
  position: relative;
  padding-top: 150px;
  padding-bottom: 210px;
}
.info__col-element {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .info__col-element {
    display: flex;
    justify-content: center;
    height: 100px;
  }
}
.info__col-text {
  position: absolute;
  top: 60px;
  right: 100px;
  z-index: 0;
}
@media screen and (max-width: 1399.98px) {
  .info__col-text {
    right: 60px;
  }
}
@media screen and (max-width: 991.98px) {
  .info__col-text {
    left: 50%;
    right: unset;
    top: unset;
    bottom: -65%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
@media screen and (max-width: 767.98px) {
  .info__col-text {
    position: unset;
    transform: unset;
  }
}
.info__content {
  position: relative;
  color: grey;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 1399.98px) {
  .info__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content {
    justify-content: center;
  }
}
.info__content-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #efefef;
  height: 100%;
  padding: 100px 80px 100px 200px;
}
@media screen and (max-width: 1399.98px) {
  .info__content-text {
    padding: 80px 80px 80px 150px;
  }
}
@media screen and (max-width: 1199.98px) {
  .info__content-text {
    padding: 50px 80px 50px 150px;
    gap: 16px;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content-text {
    padding: 20px 50px;
    text-align: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: black;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content-text {
    padding: 20px;
  }
}
.info__content-text-element {
  display: none;
  height: 30px;
}
@media screen and (max-width: 991.98px) {
  .info__content-text-element {
    display: flex;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content-text-element {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content-text-title {
    font-size: 24px;
  }
}
.info__content-text-desc {
  line-height: 2;
  font-size: 18px;
}
@media screen and (max-width: 1199.98px) {
  .info__content-text-desc {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content-text-desc {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content-text-desc {
    font-weight: 400;
  }
}
.info__content__img-container {
  z-index: 1;
}
@media screen and (max-width: 767.98px) {
  .info__content__img-container {
    box-shadow: 0 0 12px rgba(33, 33, 33, 0.4);
  }
}
.info__content__img-container {
  position: relative;
  width: 100%;
  display: block;
}
.info__content__img-container:before {
  content: "";
  display: block;
  padding-top: 55.5555555556%;
}
@media screen and (min-width: 991.98px) {
  .info__content__img-container {
    position: relative;
    width: 100%;
    display: inline-block;
    max-width: 550px;
  }
  .info__content__img-container:before {
    content: "";
    display: block;
    padding-top: 125%;
  }
}
.info__element-img {
  object-fit: contain;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .info {
    padding-bottom: 200px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 767.98px) {
  .info {
    padding-bottom: 100px;
  }
}

.event {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #5f708a;
  overflow: hidden;
}
.event::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -75px;
  background-image: url("../../img/leaf-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.3;
  width: 20%;
  height: 50%;
  transform: rotate(25deg);
  transform: scaleX(-1);
}
.event::after {
  content: "";
  position: absolute;
  top: 0;
  left: -65px;
  background-image: url("../../img/leaf-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.3;
  width: 20%;
  height: 50%;
  transform: rotate(25deg);
  transform: scaleX(-1);
}
.event__col-text {
  position: relative;
  z-index: 1;
}
.event__col-img {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 50px;
  height: 100%;
}
@media screen and (max-width: 991.98px) {
  .event__col-img {
    display: none;
  }
}
.event__content {
  position: relative;
  padding: 0 50px;
}
@media screen and (max-width: 575.98px) {
  .event__content {
    padding: 10px;
  }
}
.event__content-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: white;
  color: grey;
  width: 100%;
  height: 100%;
  padding: 125px 110px;
}
@media screen and (max-width: 991.98px) {
  .event__content-text {
    background-color: transparent;
    border: 1px solid #edc170;
    color: #edc170;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 24px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  .event__content-text {
    padding: 10px;
  }
}
.event__content-img {
  width: 100%;
  height: 100%;
  padding-right: 50px;
}
.event__content-img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.decor {
  padding: 100px 0;
  background-image: url("../../img/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.decor__row {
  justify-content: right;
}
.decor__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: white;
  color: grey;
  width: 100%;
  height: 100%;
  padding: 80px;
}
@media screen and (max-width: 991.98px) {
  .decor__content {
    padding: 70px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: black;
  }
}

.food {
  position: relative;
  padding: 100px 0;
}
.food::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 80%;
  height: 75%;
  background-color: #5f708a;
}
.food__row {
  justify-content: center;
}
.food__content {
  position: relative;
  overflow: hidden;
  color: white;
  width: 100%;
  height: 100%;
  padding: 80px;
}
.food__content:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("../../img/8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.food__content-desc {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.gallery__row {
  max-width: 100%;
  margin: 0;
}
.gallery__col {
  display: none;
  padding: 0;
}
.gallery__col--0 {
  display: block;
}
.gallery__col--1 {
  display: block;
}
.gallery__col--2 {
  display: block;
}
.gallery__col--3 {
  display: block;
}
.gallery__col--4 {
  display: block;
}
.gallery__col--5 {
  display: block;
}
.gallery__col--6 {
  display: block;
}
@media screen and (max-width: 575.98px) {
  .gallery__col--6 {
    display: none;
  }
}
.gallery__col--7 {
  display: block;
}
@media screen and (max-width: 575.98px) {
  .gallery__col--7 {
    display: none;
  }
}
.gallery__col--8 {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .gallery__col--8 {
    display: none;
  }
}
.gallery__col--9 {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .gallery__col--9 {
    display: none;
  }
}
.gallery__col--10 {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .gallery__col--10 {
    display: none;
  }
}
.gallery__col--11 {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .gallery__col--11 {
    display: none;
  }
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease-in-out 0.3s;
}
.gallery__image:hover {
  transform: scale(1.05);
}
.gallery__image-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 991.98px) {
  .question {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.question__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 50px 0;
  width: 50%;
}
.question__content::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("../../img/leaf-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 50%;
  height: 100%;
  opacity: 0.2;
}
@media screen and (max-width: 991.98px) {
  .question__content::before {
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .question__content::before {
    width: 70%;
  }
}
@media screen and (max-width: 420px) {
  .question__content::before {
    width: 100%;
  }
}
.question__content-button {
  background-color: #5f708a;
  color: white;
  border-radius: 0;
}
.question__content-button:hover {
  background-color: #4c5a6e;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .question__content {
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .question__content {
    width: 70%;
  }
}

/*# sourceMappingURL=home.css.map */
