.section__title {
  position: relative;
}
@media screen and (max-width: 991.98px) {
  .section__title {
    font-size: 24px;
  }
}
.section__desc {
  position: relative;
  line-height: 2;
  font-size: 18px;
}
@media screen and (max-width: 1199.98px) {
  .section__desc {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 991.98px) {
  .section__desc {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .section__desc {
    font-weight: 400;
  }
}
.section__button {
  position: relative;
  display: flex;
  padding: 8px 24px;
  width: max-content;
  border: 1px solid;
  border-color: inherit;
  color: inherit;
  transition: all ease-in-out 0.3s;
}
.section__button:hover {
  color: #edc170;
  border-color: #edc170;
}

.info {
  position: relative;
  padding-top: 150px;
  padding-bottom: 210px;
}
.info__col-element {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .info__col-element {
    display: flex;
    justify-content: center;
    height: 100px;
  }
}
.info__col-text {
  position: absolute;
  top: 60px;
  right: 100px;
  z-index: 0;
}
@media screen and (max-width: 1399.98px) {
  .info__col-text {
    right: 60px;
  }
}
@media screen and (max-width: 991.98px) {
  .info__col-text {
    left: 50%;
    right: unset;
    top: unset;
    bottom: -65%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
@media screen and (max-width: 767.98px) {
  .info__col-text {
    position: unset;
    transform: unset;
  }
}
.info__content {
  position: relative;
  color: grey;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 1399.98px) {
  .info__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content {
    justify-content: center;
  }
}
.info__content-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #efefef;
  height: 100%;
  padding: 100px 80px 100px 200px;
}
@media screen and (max-width: 1399.98px) {
  .info__content-text {
    padding: 80px 80px 80px 150px;
  }
}
@media screen and (max-width: 1199.98px) {
  .info__content-text {
    padding: 50px 80px 50px 150px;
    gap: 16px;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content-text {
    padding: 20px 50px;
    text-align: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: black;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content-text {
    padding: 20px;
  }
}
.info__content-text-element {
  display: none;
  height: 30px;
}
@media screen and (max-width: 991.98px) {
  .info__content-text-element {
    display: flex;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content-text-title {
    font-size: 24px;
  }
}
.info__content-text-desc {
  line-height: 2;
  font-size: 18px;
}
@media screen and (max-width: 1199.98px) {
  .info__content-text-desc {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 991.98px) {
  .info__content-text-desc {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .info__content-text-desc {
    font-weight: 400;
  }
}
.info__content__img-container {
  z-index: 1;
}
@media screen and (max-width: 767.98px) {
  .info__content__img-container {
    box-shadow: 0 0 12px rgba(33, 33, 33, 0.4);
  }
}
.info__content__img-container {
  position: relative;
  width: 100%;
  display: block;
}
.info__content__img-container:before {
  content: "";
  display: block;
  padding-top: 55.5555555556%;
}
@media screen and (min-width: 991.98px) {
  .info__content__img-container {
    position: relative;
    width: 100%;
    display: inline-block;
    max-width: 550px;
  }
  .info__content__img-container:before {
    content: "";
    display: block;
    padding-top: 125%;
  }
}
.info__element-img {
  object-fit: contain;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .info {
    padding-bottom: 200px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 767.98px) {
  .info {
    padding-bottom: 100px;
  }
}

.question {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 991.98px) {
  .question {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.question__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 50px 0;
  width: 50%;
}
.question__content::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("../../img/leaf-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 50%;
  height: 100%;
  opacity: 0.2;
}
@media screen and (max-width: 991.98px) {
  .question__content::before {
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .question__content::before {
    width: 70%;
  }
}
@media screen and (max-width: 420px) {
  .question__content::before {
    width: 100%;
  }
}
.question__content-button {
  background-color: #5f708a;
  color: white;
  border-radius: 0;
}
.question__content-button:hover {
  background-color: #4c5a6e;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .question__content {
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .question__content {
    width: 70%;
  }
}

/*# sourceMappingURL=home.css.map */
