@use "sass:math";
@use "../_config.scss" as *;

%hover-style {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 0;
  border-radius: 25px;
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.section {
  &__title {
    position: relative;
    @media screen and (max-width: 991.98px) {
      font-size: 24px;
    }
  }

  &__desc {
    position: relative;

    line-height: 2;
    font-size: 18px;

    @media screen and (max-width: 1199.98px) {
      font-size: 16px;
      line-height: 1.5;
    }

    @media screen and (max-width: 991.98px) {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
    }

    @media screen and (max-width: 767.98px) {
      font-weight: 400;
    }
  }

  &__button {
    position: relative;

    display: flex;
    padding: 8px 24px;
    width: max-content;
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    transition: all ease-in-out 0.3s;

    &:hover {
      color: color(text, primary);
      border-color: color(text, primary);
    }
  }
}

.info {
  position: relative;
  padding-top: 150px;
  padding-bottom: 210px;
  &__col {
    &-img {
    }
    &-element {
      display: none;
      @media screen and (max-width: 767.98px) {
        display: flex;
        justify-content: center;
        height: 100px;
      }
    }
    &-text {
      position: absolute;
      top: 60px;
      right: 100px;
      z-index: 0;

      @media screen and (max-width: 1399.98px) {
        right: 60px;
      }

      @media screen and (max-width: 991.98px) {
        left: 50%;
        right: unset;
        top: unset;
        bottom: -65%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      @media screen and (max-width: 767.98px) {
        position: unset;
        transform: unset;
      }
    }
  }

  &__content {
    position: relative;
    color: grey;
    padding-left: 50px;
    padding-right: 50px;

    @media screen and (max-width: 1399.98px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and (max-width: 991.98px) {
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (max-width: 767.98px) {
      justify-content: center;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 32px;
      background-color: #efefef;
      height: 100%;
      padding: 100px 80px 100px 200px;

      @media screen and (max-width: 1399.98px) {
        padding: 80px 80px 80px 150px;
      }

      @media screen and (max-width: 1199.98px) {
        padding: 50px 80px 50px 150px;
        gap: 16px;
      }

      @media screen and (max-width: 991.98px) {
        padding: 20px 50px;
        text-align: center;
        justify-content: center;
        background-color: rgba(239, 239, 239, 0.8);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        color: black;
      }
      @media screen and (max-width: 767.98px) {
        padding: 20px;
      }

      &-element {
        display: none;
        height: 30px;

        @media screen and (max-width: 991.98px) {
          display: flex;
        }

        @media screen and (max-width: 767.98px) {
          display: none;
        }
      }

      &-title {
        @media screen and (max-width: 991.98px) {
          font-size: 24px;
        }
      }

      &-desc {
        line-height: 2;
        font-size: 18px;

        @media screen and (max-width: 1199.98px) {
          font-size: 16px;
          line-height: 1.5;
        }

        @media screen and (max-width: 991.98px) {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
        }

        @media screen and (max-width: 767.98px) {
          font-weight: 400;
        }
      }
    }

    &__img {
      &-container {
        z-index: 1;

        @media screen and (max-width: 767.98px) {
          box-shadow: 0 0 12px rgba(33, 33, 33, 0.4);
        }
      }
    }

    @include imageRatio(720, 400, $className: "img");

    @media screen and (min-width: 991.98px) {
      @include imageRatio(4, 5, $maxWidth: 550, $className: "img");
    }
  }

  &__element {
    &-img {
      object-fit: contain;
      width: 100%;
    }
  }

  @media screen and (max-width: 991.98px) {
    padding-bottom: 200px;
    padding-top: 100px;
  }

  @media screen and (max-width: 767.98px) {
    padding-bottom: 100px;
  }
}

.question {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

  @media screen and (max-width: 991.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 50px 0;
    width: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-image: url("../../img/leaf-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      width: 50%;
      height: 100%;
      opacity: 0.2;

      @media screen and (max-width: 991.98px) {
        width: 60%;
      }
      @media screen and (max-width: 767.98px) {
        width: 70%;
      }
      @media screen and (max-width: 420px) {
        width: 100%;
      }
    }

    &-button {
      background-color: #5f708a;
      color: white;
      border-radius: 0;

      &:hover {
        background-color: colorMod(#5f708a, -20%);
        color: white;
      }
    }

    @media screen and (max-width: 991.98px) {
      width: 60%;
    }

    @media screen and (max-width: 767.98px) {
      width: 70%;
    }
  }
}
