@use "sass:math";
@use "../_config.scss" as *;

%hover-style {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 0;
  border-radius: 25px;
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.backPict {
  position: relative;
  padding: 300px 0;
  background-color: black;

  @media screen and (max-width: 767.98px) {
    padding: 150px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../img/test.jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}

.banner {
  &__socmed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

    &-desc {
      font-size: 18px;
      line-height: 2;
      margin: 0;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
      }
    }

    &-button {
      display: flex;
      gap: 8px;

      .button-item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        width: 48px;
        height: 48px;
        padding: 12px;
        border-radius: 999px;
        border: 1px solid white;
        transition: all ease-in-out 0.2s;

        @media screen and (max-width: 991.98px) {
          padding: 4px;
          width: 36px;
          height: 36px;
        }

        &:hover {
          background-color: white;
          color: #5f708a;
        }

        &__svg {
          color: inherit;
          width: 16px;
          height: 16px;
          transition: all ease-in-out 0.2s;

          @media screen and (max-width: 991.98px) {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}

.team {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 300px;
  padding-bottom: 100px;

  @media screen and (max-width: 991.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -250px;
    left: -175px;
    background-image: url("../../img/leaf-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 40%;
    height: 100%;
    opacity: 0.2;
    transform: rotate(30deg);
    z-index: 1;

    @media screen and (max-width: 991.98px) {
      width: 60%;
    }
    @media screen and (max-width: 767.98px) {
      width: 70%;
    }
    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 50px 0;
    width: 50%;
    color: grey;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-image: url("../../img/leaf-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      width: 50%;
      height: 100%;
      opacity: 0.2;

      @media screen and (max-width: 991.98px) {
        width: 60%;
      }
      @media screen and (max-width: 767.98px) {
        width: 70%;
      }
      @media screen and (max-width: 420px) {
        width: 100%;
      }
    }

    &-button {
      background-color: #5f708a;
      color: white;
      border-radius: 0;

      &:hover {
        background-color: colorMod(#5f708a, -20%);
        color: white;
      }
    }

    @media screen and (max-width: 991.98px) {
      width: 60%;
    }

    @media screen and (max-width: 767.98px) {
      width: 70%;
    }
  }
}

.story {
  position: relative;
  padding: 100px 0;

  @media screen and (max-width: 991.98px) {
    padding-bottom: 0;
  }

  &__row {
    position: relative;

    @media screen and (max-width: 991.98px) {
      justify-content: center;
    }
  }

  &__col {
    margin-bottom: 200px;

    @media screen and (max-width: 991.98px) {
      margin-bottom: unset;
    }

    &--text {
      @extend .story__col;
      position: absolute;
      right: 0;
      top: 400px;
      padding: 64px;
      background-color: white;

      @media screen and (max-width: 991.98px) {
        position: unset;
      }

      @media screen and (max-width: 767.98px) {
        padding: 64px 12px;
      }
    }

    &--swiper {
      padding: 0;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 575.98px) {
        padding: 50px 0;
        overflow: hidden;
      }
    }
  }

  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  &__swiper {
    position: relative;
    z-index: 3;
    overflow: hidden;
    width: 500px;
    height: 600px;

    @media screen and (max-width: 575.98px) {
      height: 475px;
    }
    &-container {
      position: relative;
      display: flex;
      justify-content: end;

      @media screen and (max-width: 991.98px) {
        justify-content: center;
      }

      @media screen and (max-width: 575.98px) {
        width: 80%;
      }

      &::before {
        content: "";
        position: absolute;
        top: -100px;
        left: -30px;
        width: 500px;
        height: 600px;
        background-color: #5f708a;
        z-index: 1;

        @media screen and (max-width: 991.98px) {
          top: -50px;
          right: -30px;
          left: unset;
        }

        @media screen and (max-width: 767.98px) {
          right: unset;
          width: 600px;
        }

        @media screen and (max-width: 575.98px) {
          height: 700px;
          width: 100vw;
        }
      }
    }

    &-img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-pagination {
      bottom: -32px !important;
      left: 150px !important;
      transform: translateX(0) !important;

      @media screen and (max-width: 991.98px) {
        left: 50% !important;
        transform: translateX(-50%) !important;
      }

      .swiper-pagination-bullet-active {
        background: #5f708a !important;

        @media screen and (max-width: 575.98px) {
          background-color: color(bg, primary) !important;
        }
      }
    }
  }

  &__content {
    color: grey;

    &-desc {
      line-height: 2;
      font-size: 17px;

      @media screen and (max-width: 1399.98px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1199.98px) {
        font-size: 14.5px;
      }
    }
  }
}
